$mdc-theme-primary: #ffd900;
$mdc-theme-secondary: #f00;
$mdc-theme-background: #33be33;

$poker-table: #477148;
$app-bar : #411111;

@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/elevation/mdc-elevation";
@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";

.mdc-button__icon {
    padding: 12px;
}

body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    color: $mdc-theme-primary;
}

.mdc-tab-bar {
    background-color: $app-bar;
}

#exit {
    flex: 0 0 auto;
}

.mdc-tab-scroller__scroll-content,
.mdc-tab,
.mdc-tab__content,
.mdc-tab__text-label {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    // text-overflow: ellipsis;
}


#imageContainer {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
}

/* todo: media query für 4k und größer */
.aspectRatioHack {
    position: absolute !important;
    left: -10000% !important;
    right: -10000% !important;
    top: -10000% !important;
    bottom: -10000% !important;
    margin: auto auto !important;
    max-width: 10% !important;
    max-height: 10% !important;
    -webkit-transform: scale(10) !important;
    transform: scale(10) !important;
}

.gamePage {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: $poker-table;
}
#gameTab{
    flex: 1 1 auto;
    display:flex;
    flex-direction: column;
    margin: 5px;
}
#gameTab * {
    margin: 5px;
}

.loginPage {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: $poker-table;
}

.loginPage * {
    max-width: 150px;
    width: 100%;
    margin: 5px;
}
#gameId{
    text-align: center;
}
#output {
    color: white;
    display: none;
}
#getNewCard{
    align-self: center;
}